TELEGRAM_BOT_TOKEN=
MAIN_CHAT_ID=
ADMIN_CHAT_ID=
ADMIN_USER_IDS=111111111,222222222
SQLITE_PATH=./data/md4.db
APP_ENV=dev
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-oss-20b:free
OPENROUTER_REFERRER=https://github.com/Byrja/chat_bot
OPENROUTER_APP_NAME=MD4
